rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Users can only read and update their own user document
    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null && request.auth.uid == userId;
    }

    // Reports can only be read/updated by the user who owns them.
    match /reports/{reportId} {
      allow read, update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
  }
}
